<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Sign up</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
		integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link href="{% static 'newsLetter/css/signup.css' %}" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
	<div class="outer">
	  <div class="middle">
	    <div class="inner">

	      <div class="main-content">
					<form class="form-basic" action="signup" method="post">
						{% csrf_token %}
						<div class="form-title-row">
							<h1>Weather Powered Email</h1>
						</div>

						<div class="form-group">
				    	{{ form.email_address.label_tag }}
				    	{{ form.email_address }}
					    {{ form.email_address.errors }}
						</div>

						<div class="form-group">
					    {{ form.location.label_tag }}
					    {{ form.location }}
					    {{ form.location.errors }}
						</div>

						{% if error %}
							<div class="form-group text-danger">
								{{ error }}
							</div>
						{% endif %}

						<div class="form-group text-center">
								<button type="submit">Subscribe</button>
						</div>
					</form>
	      </div>
	    </div>
	  </div>
	</div>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
		integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

</body>
</html>
